html,body{
	width: 100%;
	height: 100%;
	background: #192538;
	font-size: 14px;
}
.main{
	width:400px;
	height: 453px;
	position: absolute;
	top: 0;
	left: 0;
	right: 	0;
	bottom: 0;
	margin: auto;
}
/*  */
.main_top{
	height: 80px;
	color: #fff;
	text-align: center;
}
.main_center{
	height:353px;
	background: #fff;
	border-radius: 15px;
	padding: 0 30px;
	padding-top: 40px;
	
}
/* 城市 */
.user_name{
	position: relative;
}
.user_name a{
	color: #333;
}
.main_center span{
	font-size: 14px;
	color: #333;
}
.user_name .citys{
	width: 170px;
	height:180px;
	border: 1px solid #e5e5e5;
	position: absolute;
	background: #fff;
	right: 0;
	display: none;
	overflow-x:hidden;
}
.user_name .citys li{
	font-size: 12px;
	color: #333;
	padding:0 5px;
	height: 35px;
}
.user_name .citys li.active,.user_name .citys li:hover{
	background: #007AFF;
}
.user_name .citys li.active a,.user_name .citys li:hover a{
	color: #fff;
}
.user_name .citys li a{
	display: inline-block;
	width: 100%;
	overflow: hidden;
	line-height: 35px;
}
.user_name .citys li b{
	float: left;
}
.user_name .citys li i{
	float: right;
}



/*  */
.user_iphone span{
	display: inline-block;
	max-width:25%;
	text-align: center;
	font-size:14px;
	border-right: 2px solid #e5e5e5;
	padding-right: 10px;
	text-indent: 5px;
	margin:15px 10px 15px 0;
}
.main_center .user_iphone input{
	width:75%;
}
.main_center input,.user_name .city_name{
	display: inline-block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	height: 45px;
	outline: none;
	font-size: 13px;
	color: #999999;
	padding: 0;
	box-shadow: none;
}
.user_verification input{
	width: 70%;
}
.user_verification span{
	color: #007AFF;
	width: 28%;
	display: inline-block;
	cursor: pointer;
	line-height:50px;
	text-align: right;
}
.main_center button{
	width: 100%;
	line-height: 40px;
	background: #007AFF;
	border-radius: 8px;
	font-size: 16px;
	color: #fff;
	border: none;
	margin-top: 40px;
	padding: 0;
}







.password_inner .user_iphone{
	padding-top: 80px;
}



.col-sm-12{
	padding: 0;
}
.form-group{
	height: 70px;
	margin-bottom: 0;
}
.form-control:focus{
	box-shadow: none;
	outline: none;
	border-bottom: 1px solid #e5e5e5;
}
.form-group label{
	font-weight: normal;
	color: #c90013;
	font-size: 12px;
	line-height: 30px;
}